## List Comprehension

In [1]:
lst = [1,2,3,4,5]
lst

[1, 2, 3, 4, 5]

In [2]:
lst_new = [i**2 for i in lst]
lst_new

[1, 4, 9, 16, 25]

In [3]:
print([i for i in range(50)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [4]:
for i in range(50):
    if i%2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [5]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### List comprehension with for loop and if.... statement

In [3]:
even_list = [x for x in range(10) if x%2==0]
even_list

[0, 2, 4, 6, 8]

### Excercise 1:  Create a list of string values and retrive only the first character

In [5]:
fruits = ['apple','banana','mango','plum']

In [7]:
strlst_new = [ i[0].upper() for i in fruits]
print(strlst_new)

['A', 'B', 'M', 'P']

### List comprehension with for loop and if... else....

In [6]:
print([ "even" if x%2 ==0 else "odd" for x in range(50)])

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

### List comprehension with Multiple for's

In [5]:
l1 = [10,20,30]
l2 = [40,50,60]

In [6]:
add_lst = [i+j for i in l1 for j in l2]
add_lst

[50, 60, 70, 60, 70, 80, 70, 80, 90]